<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/mainLayout">

	<head>
	</head>
	<body>
	<div layout:fragment="mainContent">
		<h1>กรมวิทยาศาสตร์บริการ</h1>

		<p>
			กรมวิทยาศาสตร์บริการเป็นหน่วยงานในสังกัดกระทรวงวิทยาศาสตร์และเทคโนโลยี มีภารกิจหลัก
			ได้แก่ การวิเคราะห์ทดสอบ สอบเทียบ การวิจัยพัฒนาและถ่ายทอดเทคโนโลยี การรับรองห้องปฏิบัติการ
			การฝึกอบรมนักวิทยาศาสตร์ห้องปฏิบัติการ และการให้บริการสารสนเทศด้านวิทยาศาสตร์และเทคโนโลยี 
		</p>
	</div>
	</body>
</html>