<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/mainLayout">

	<head>
	</head>
	<body>
	<div layout:fragment="mainContent">
		<h1>► สถานภาพการสมัคร</h1>
		
		<p style="color: #0000FF; font-size: 28px; text-align: center;">ประกาศรายชื่อผู้สมัครเข้าร่วมงานสัมมนาฯ รอบที่ ๑</p><br/>
		<p style="color: #FF0000; font-size: 16px; text-align: center;">(สำหรับผู้ที่ลงทะเบียนหลังจากวันที่ ๑๑  มกราคม ๒๕๕๙ <br/>โปรดตรวจสอบรายชื่อได้อีกครั้งในวันที่ ๒๒ มกราคม ๒๕๕๙)</p><br/>
		<p style="color: #F00; font-size: 20px; text-align: center;"><a href="http://www.dss.go.th/HOME/account.html">ตรวจสอบรายชื่อ</a></p>
		
			 
		 
	</div>
	</body>
</html>