<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/mainLayout">

	<head>
	</head>
	<body>
	<div layout:fragment="mainContent">
		<h1>ติดต่อ/สอบถามเกี่ยวกับงานสัมมนาได้ที่</h1>
			คุณสิฐิญา สิริจันโท
			<ul>
				<li>โทร: 0-2201-7069-70</li>
				<li>โทรสาร: 0-2201-7464 หรือ 0-2201-7466</li>
				<li>email: seminar11june@dss.go.th</li>
			</ul>
	</div>
	</body>
</html>