<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/mainLayout">

	<head>
	</head>
	<body>
	<div layout:fragment="mainContent">
		<h1>ติดต่อ/สอบถามเกี่ยวกับงานสัมมนาได้ที่</h1>
			คุณสุประวีณ์ หรือ คุณวรรณี
			<ul>
				<li>โทร: ๐ -๒๒๐๑-๗๒๓๙  หรือ ๐-๒๒๐๑-๗๓๓๑-๓</li>
				<li>โทรสาร:  ๐-๒๒๐๑-๗๕๐๙ หรือ ๐-๒๒๐๑-๗๔๖๖</li>
				<li>email: 125seminar@dss.go.th</li>
			</ul>
	</div>
	</body>
</html>