<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/mainLayout">

	<head>
	</head>
	<body>
	<div layout:fragment="mainContent">
		<h3>► หลักการและเหตุผล</h3>
		<pre>
&nbsp;&nbsp;กรมวิทยาศาสตร์บริการ มีรากฐานเริ่มต้นจาก พ.ศ.๒๔๓๔ (ร.ศ. ๑๑๐)เป็น “สถานปฏิบัติการวิเคราะห์แร่” หน่วยงานวิเคราะห์
และทดสอบทางวิทยาศาสตร์หน่วยงานแรกของประเทศไทย มีภารกิจในการตรวจตราบรรดาการที่เกี่ยวข้องด้วยแร่  โลหธาตุ รวมทั้ง
วิเคราะห์สารประกอบในสินค้าชนิดต่างๆ   ต่อมาได้มีวิวัฒนาการและปรับเปลี่ยนชื่อเป็น      “กองแยกธาตุ”    “ศาลาแยกธาตุ”
“กรมวิทยาศาสตร์”  และปัจจุบันเป็น   “กรมวิทยาศาสตร์บริการ”  สังกัดกระทรวงวิทยาศาสตร์และเทคโนโลยี ให้บริการวิเคราะห์
ทดสอบวัตถุดิบและผลิตภัณฑ์ทางด้านฟิสิกส์    เคมี    และชีวภาพ   การรับรองระบบงานห้องปฏิบัติการการจัดกิจกรรมทดสอบ
ความชำนาญห้องปฏิบัติการทดสอบและสอบเทียบ   การพัฒนาศักยภาพบุคลากรห้องปฏิบัติการ การพัฒนาหอสมุดและศูนย์สารสน
เทศวิทยาศาสตร์และเทคโนโลยีตลอดจนวิจัยและพัฒนาเทคโนโลยีที่สามารถนำไปถ่ายทอดไปสู่การใช้ประโยชน์เพื่อพัฒนาเศรษฐกิจ
และสังคมของประเทศ
&nbsp;&nbsp;ในโอกาส ครบรอบ  ๑๒๕ ปี กรมวิทยาศาสตร์บริการ จึงได้กำหนดจัดงาน “๑๒๕  ปี  กรมวิทยาศาสตร์บริการ : รากฐานงาน
บริการสู่เศรษฐกิจที่ยั่งยืน”   ขึ้นในวันศุกร์ที่    ๒๙   มกราคม ๒๕๕๙     มีวัตถุประสงค์เพื่อเผยแพร่ผลงานการให้บริการโครง
สร้างพื้นฐานด้านคุณภาพ    ที่สนับสนุนผู้ประกอบ   การอุตสาหกรรมและวิสาหกิจชุมชน   ช่วยสนับสนุนการเพิ่มศักยภาพและยก
ระดับคุณภาพของการผลิตสินค้าไทยให้สามารถแข่งขันได้ในตลาดโลก    สร้างความเข้าใจและสามารถเข้าถึงงานบริการได้ตรงตาม
ความต้องการ     เชิดชูผู้ประกอบการและวิสาหกิจชุมชนที่สามารถใช้วิทยาศาสตร์และเทคโนโลยี      เป็นพื้นฐานพัฒนาและยก
ระดับคุณภาพสินค้า    สอดคล้องกับนโยบายรัฐบาล    และนโยบายของกระทรวงวิทยาศาสตร์และเทคโนโลยีที่ให้ความสำคัญกับ
การพัฒนาและส่งเสริมการใช้ประโยชน์จากวิทยาศาสตร์ เทคโนโลยี การวิจัยและพัฒนา และนวัตกรรม  </pre>
<br/>	

		<h3>► กลุ่มเป้าหมาย</h3>
		<pre>
&nbsp;&nbsp;ผู้เข้าร่วมงานจากหน่วยงานราชการ ผู้มีส่วนได้ส่วนเสีย ผู้ประกอบการ SME และ OTOP  ผู้รับบริการ  ประชาชนผู้สนใจทั่วไป 
 ประมาณ ๗๐๐ คน</pre>
<br/>	

		<h3>► เวลาและสถานที่ดำเนินงาน</h3>
		<pre>
&nbsp;&nbsp;วันศุกร์ที่ ๒๙ มกราคม ๒๕๕๙  โรงแรมวินด์เซอร์ สวีท แอนด์ คอนเวนชั่น ชั้น ๑๑ กรุงเทพฯ</pre>
<br/>
		
		<h3>► ประโยชน์ที่คาดว่าจะได้รับ</h3>
		<pre>
๑)ทำให้ทราบถึงผลงานและช่องทางการเข้าถึงงานบริการของกรมวิทยาศาสตร์บริการ 
๒)ส่งเสริมให้เกิดการนำองค์ความรู้และผลงานวิจัยของกรมวิทยาศาสตร์บริการไปใช้ประโยชน์ในการพัฒนา 
๓)สร้างความเชื่อมั่นและความพึงพอใจในการให้บริการแก่ผู้ประกอบการและประชาชน
๔)สร้างเครือข่ายความร่วมมือระหว่างนักวิชาการ และผู้ประกอบการ</pre>
		
	</div>
	</body>
</html>