<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/mainLayout">

	<head>
	</head>
	<body>
	<div layout:fragment="mainContent">
		<h1> หลักการและเหตุผล</h1>
		<p>
			       ประเทศไทยเป็นประเทศที่ต้องพึ่งพาเศรษฐกิจการส่งออก เพื่อให้การขยายสินค้าส่งออกเพิ่มขึ้น 
			สินค้าจึงจำเป็นต้องมีคุณภาพ ได้มาตรฐานสากล ดังนั้น สินค้าส่งออกของประเทศจึงได้รับผลกระทบจากกฎ 
			ระเบียบ ข้อบังคับ มาตรการกีดกันทางการค้า ทำให้ไม่สามารถแข่งขันสู่ตลาดโลกได้ กรมวิทยาศาสตร์บริการ
			ในฐานเป็นองค์กรที่มีบทบาทสำคัญด้านพัฒนาคุณภาพสินค้าส่งออกของประเทศ ได้ตระหนักถึงความสำคัญ
			ของการเพิ่มมูลค่าของผลิตภัณฑ์อุตสาหกรรม จึงได้จัดสัมมนาเรื่อง "การเพิ่่มศักยภาพการส่งออกของไทย
			ด้วยมิติบริการใหม่กรมวิทยาศาสตร์บริการ" เพื่อเป็นแนวทางในการแก้ไขปัญหาการส่งออก 
			รวมทั้งประชาสัมพันธ์มิติบริการรูปแบบใหม่ ด้วย ๓S (S๑ = Contract Service; S๒ = One Stop Service;
			S๓ = New Testing Service) บริการผลงานวิจัยและผลงานเด่นของกรมวิทยาศาสตร์บริการ 
			ให้แก่กลุ่มลูกค้า ผู้ประกอบการ อุตสาหกรรม ซึ่งสอดคล้องกับยุทธศาสตร์ของกรมวิทยาศาสตร์บริการ 
			ในการส่งเสริมอุตสาหกรรมไทย ด้วยการขับเคลื่อนการพัฒนาตั้งแต่วัตถุดิบถึงผลิตภัณฑ์ ให้เป็นไปตาม
			มาตรฐาน
		</p>
		
		<h2>วัตถุประสงค์</h2>
		<ol>
			<li> เพื่อเผยแพร่ ประชาสัมพันธ์ มิติบริการใหม่ ด้านการทดสอบของกรมวิทยาศาสตร์บริการ</li>
			<li>เพื่อสร้างความรู้ ความเข้าใจและแลกเปลี่ยนความคิดเห็นจากผู้ทรงคุณวุฒิ และผู้เข้าร่วม
				สัมมนา เกี่ยวกับกฎ ระเบียบ และมาตรการกีดกันทางการค้าจากนานาประเทศ 
				ให้แก่ผู้ประกอบการอุตสาหกรรม</li>
		</ol>
	</div>
	</body>
</html>