<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/mainLayout">

	<head>
	</head>
	<body>
	<div layout:fragment="mainContent">
		<h1> แบบตอบรับการเข้าร่วมงาน (ออนไลน์)</h1>
		<p style="font-size: 24px; color: #00F;">
			งานครบรอบ ๑๒๕ ปี <br/>
			กรมวิทยาศาสตร์บริการ : รากฐานงานบริการ สู่เศรษฐกิจที่ยั่งยืน <br/>
			ณ โรงแรมวินด์เซอร์ สวีท แอนด์ คอนเวนชั่น กรุงเทพฯ<br/>
			วันศุกร์ที่ ๒๙ มกราคม ๒๕๕๙ เวลา ๘.๓๐ - ๑๖.๓๐ น. <br/>
		</p>
		
		<form class="form-horizontal" id="formView" action="#">
		
		<div class="panel panel-default">
			 <div class="panel-heading">กรุณากรอกข้อมูลให้ครบถ้วน</div>
			
			 <div class="panel-body">
				<div class="alert alert-danger" style="display:none;" id="alertDanger">กรุณาตรวจสอบการกรอกข้อมูลให้ครบถ้วน</div>
				<div id="formBody">
				
				</div>


			  </div>
		</div>
	

 			<button id="submitBtn" class="btn btn-primary">Submit</button>
		</form>

<script type="text/javascript" th:src="@{/pagejs/register.js}"></script>		

<script  id="participantsTemplate" type="text/x-handlebars-template">
<hr />
					<h4>รายชื่อผู้เข้าร่วมงานคนที่ {{num}} </h4>
					<div class="form-group">
						<label for="inputPassword3" class="col-sm-2 control-label">คำนำหน้า</label>
						<div class="col-sm-10">
							<div class="radio">
								<label> 
									<input type="radio" name="participant{{num}}.titleRdo"
										data-field="participant{{num}}.title" id="participant{{num}}.titleRdoMR" value="MR" /> นาย
								</label>
								<label style="margin-left:25px;"> 
									<input type="radio" name="participant{{num}}.titleRdo"
										data-field="participant{{num}}.title" id="participant{{num}}.titleRdoMRS" value="MRS" /> นาง
								</label>
								<label style="margin-left:25px;"> 
									<input type="radio" name="participant{{num}}.titleRdo"
										data-field="participant{{num}}.title" id="participant{{num}}.titleRdoMiss" value="MISS" /> น.ส.
								</label>
								
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="firstName1" class="col-sm-2 control-label">ชื่อ</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="participant{{num}}.firstName1Txt" data-field="participant{{num}}.firstName" />
						</div>
					</div>
					<div class="form-group">
						<label for="lastName1" class="col-sm-2 control-label">นามสกุล</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="participant{{num}}.lastName1Txt"  data-field="participant{{num}}.lastName"/>
						</div>
					</div>
					<div class="form-group">
						<label for="title1" class="col-sm-2 control-label">ตำแหน่ง</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="participant{{num}}.jobTitle1Txt"  data-field="participant{{num}}.jobTitle"/>
						</div>
					</div>
					<div class="form-group">
						<label for="email1" class="col-sm-2 control-label">email</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="participant{{num}}.email1Txt"  data-field="participant{{num}}.email"/>
						</div>
					</div>
					
					<h4>มีความประสงค์เข้าร่วมกลุ่มเสวนาภาคบ่าย (โปรดเลือกเพียง ๑ เวที)</h4>
					<div class="form-group">
						<label for="brekoutRoom1" class="col-sm-1 control-label"></label>
						<div class="col-sm-11">
							<div class="radio">
								<label> <input type="radio" name="participant{{num}}.breakoutRoomRdo"
									id="participant{{num}}.breakoutRoomRdoROOM1" value="ROOM1" />ห้องที่ ๑ งานบริการด้านการรับรองระบบงานห้องปฏิบัติการและการจัดกิจกรรมทดสอบความชำนาญ
								</label> <br/>
								<label> <input type="radio" name="participant{{num}}.breakoutRoomRdo"
									id="participant{{num}}.breakoutRoomRdoROOM2" value="ROOM2" /> ห้องที่ ๒ งานบริการทดสอบ สอบเทียบ
								</label><br/>
								<label> <input type="radio" name="participant{{num}}.breakoutRoomRdo"
									id="participant{{num}}.breakoutRoomRdoROOM3" value="ROOM3" /> ห้องที่ ๓ งานวิจัยและพัฒนา
								</label><br/>
								<label> <input type="radio" name="participant{{num}}.breakoutRoomRdo"
									id="participant{{num}}.breakoutRoomRdoROOM4" value="ROOM4" /> ห้องที่ ๔ งานด้านการพัฒนาบุคคลากรและการบริการสารสนเทศ 
								</label>
							</div>
						</div>
					
					</div>
</script>

<script  id="numberOfParticipantsTemplate" type="text/x-handlebars-template">
<label for="inputPassword3" class="col-sm-2 control-label">ผู้ร่วมงาน</label>
<div class="col-sm-10">
	<div class="radio">
		<label> <input type="radio" name="participantNumberRdo"
			id="participantNumberOption1" value="1" /> 1 ท่าน
		</label>
		<label style="margin-left:25px;"> <input type="radio" name="participantNumberRdo"
			id="participantNumberOption2" value="2" /> 2 ท่าน
		</label>

	</div>
</div>
</script>

<script  id="formViewTemplate" type="text/x-handlebars-template">
					  <div class="form-group">
					    <label for="name" class="col-sm-2 control-label">หน่วยงาน</label>
					    <div class="col-sm-9">
					      <input type="text" class="form-control" id="nameTxt" data-field="name"/>
					    </div>
					  </div>
				    <div class="form-group" style="margin-bottom: 8px;">
					    <label for="inputPassword3" class="col-sm-2 control-label">ที่อยู่</label>
					    <div class="col-sm-9">
					      <input type="text" class="form-control" id="address1Txt"  data-field="address1"/>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="address2" class="col-sm-2 control-label"></label>
					    <div class="col-sm-9">
					      <input type="text" class="form-control" id="address2Txt"  data-field="address2"/>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="telephone" class="col-sm-2 control-label">โทรศัพท์</label>
					    <div class="col-sm-4">
					      <input type="text" class="form-control" id="telephoneTxt"  data-field="telephone"/>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="fax" class="col-sm-2 control-label">โทรสาร</label>
					    <div class="col-sm-4">
					      <input type="text" class="form-control" id="faxTxt"  data-field="fax"/>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="email" class="col-sm-2 control-label">Email</label>
					    <div class="col-sm-4">
					      <input type="text" class="form-control" id="emailTxt"  data-field="email"/>
					    </div>
					  </div>
					  
					  <div class="form-group">
					    <label for="email" class="col-sm-2 control-label" style="padding-left:0px;">รหัสลงทะเบียน</label>
					    <div class="col-sm-4">
					      <input type="text" class="form-control" id="passwordTxt"  data-field="password"/>
					    </div>
					  </div>
		
					<div class="form-group">
						<label for="inputPassword3" class="col-sm-2 control-label">การร่วมงาน</label>
						<div class="col-sm-10">
							<div class="radio">
								<label> <input type="radio" name="attendingRdo"
									id="attendingRdo_ATTEND" value="ATTEND" /> เข้าร่วมงาน (9.30 – 16.30 น.)
								</label>
								<label style="margin-left:25px;"> <input type="radio" name="attendingRdo"
									id="attendingRdo_NOT_ATTEND" value="NOT_ATTEND" /> ไม่สามารถเข้าร่วมงานได้
								</label>
		
							</div>
						</div>
					</div>

					<div class="form-group" id="numberOfParitcipantsDiv" style="display:none;">
					</div>

					<div id="paritcipant1Div" style="display:none;">
					</div>

					<div id="paritcipant2Div" style="display:none;">
					</div>


</script>


<script type="text/javascript" th:inline="javascript">
	
$( document ).ready(function() {
	
	formView = new FormView({
		el: "#formView"
	})
	
	
	
	appRouter = new AppRouter({
		formView: formView
	});
	Backbone.history.start();

});

</script>	


	</div>
	</body>
</html>