<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/mainLayout">

	<head>
	</head>
	<body>
	<div layout:fragment="mainContent">
<h1>กำหนดการสัมมนา</h1>
<p style="font-size: 24px; color: #00F;">งานครบรอบ  ๑๒๕ ปี กรมวิทยาศาสตร์บริการ</p>
<h3>วันที่  ๒๙ มกราคม ๒๕๕๙</h3>

  
<table id="scheduleTable1">

 	
<tr>
    <td width="180" valign="top"><p align="center"><strong>เวลา</strong><strong> </strong></p></td>
    <td width="443" valign="top"><p align="center"><strong>รายละเอียด</strong><strong> </strong></p></td>
  </tr>
  <tr>
    <td width="180" valign="top"><p align="center">๐๙.๐๐ – ๐๙.๓๐ น.</p></td>
    <td width="443" valign="top"><p>ลงทะเบียน </p></td>
  </tr>
  <tr>
    <td width="180" valign="top"><p align="center">๐๙.๓๐ – ๑๑.๓๐ น. </p></td>
    <td width="465" valign="top"><p>พิธีเปิด </p></td>
  </tr>
  <tr>
    <td width="180" valign="top"><p align="center">&nbsp;</p></td>
    <td width="465" valign="top"><ul>
      <li>กล่าวรายงานโดย    อวศ. </li>
    </ul></td>
  </tr>
  <tr>
    <td width="180" valign="top"><p align="center">&nbsp;</p></td>
    <td width="465" valign="top"><ul>
      <li>กล่าวเปิดงานพร้อมบรรยายพิเศษโดย    รมว.วท. </li>
    </ul></td>
  </tr>
  <tr>
    <td width="180" valign="top"><p align="center">&nbsp;</p></td>
    <td width="465" valign="top"><ul>
      <li>รมว.วท.    มอบโล่รางวัลแก่ผู้ประกอบการ OTOP ๔    ภาค</li>
    </ul></td>
  </tr>
  <tr>
    <td width="180" valign="top"><p align="center">๑๑.๓๐ – ๑๒.๐๐ น. </p></td>
    <td width="465" valign="top"><p>การบรรยายพิเศษ    (วิทยากรนอก)</p></td>
  </tr>
  <tr>
    <td width="180" valign="top"><p align="center">๑๒.๐๐ – ๑๓.๐๐ น.</p></td>
    <td width="465" valign="top"><p>รับประทานอาหารกลางวัน</p></td>
  </tr>
  <tr>
    <td width="180" valign="top"><p align="center">๑๓.๐๐ – ๑๖.๐๐ น. </p></td>
    <td width="465" valign="top"><p>สัมมนากลุ่มย่อย</p></td>
  </tr>
  <tr>
    <td width="180" valign="top"><p align="center">&nbsp;</p></td>
    <td width="465" valign="top"><ul>
      <li>กลุ่มย่อยที่ ๑    งานบริการด้านการรับรองระบบงานห้องปฏิบัติการและการจัดกิจกรรมทดสอบความชำนาญ</li>
    </ul></td>
  </tr>
  <tr>
    <td width="180" valign="top"><p align="center">&nbsp;</p></td>
    <td width="465" valign="top"><ul>
      <li>กลุ่มย่อยที่ ๒ งานบริการทดสอบ    สอบเทียบ</li>
    </ul></td>
  </tr>
  <tr>
    <td width="180" valign="top"><p align="center">&nbsp;</p></td>
    <td width="465" valign="top"><ul>
      <li>กลุ่มย่อยที่ ๓ งานวิจัยและพัฒนา </li>
    </ul></td>
  </tr>
  <tr>
    <td width="180" valign="top"><p align="center">&nbsp;</p></td>
    <td width="465" valign="top"><ul>
      <li>กลุ่มย่อยที่ ๔    งานด้านการพัฒนาบุคคลากรและการบริการสารสนเทศ</li>
    </ul></td>
  </tr>
</table>
<p>&nbsp;</p>

<center>
---------------------------------------------------------------------------------------------
</center>
<h1>กำหนดการกลุ่มย่อย</h1>


<table id="scheduleTable2">
   <tr>
    <td width="156" valign="top"><p align="center">๑๓.๐๐ – ๑๖.๐๐ น. </p></td>
    <td width="512" valign="top"><p>สัมมนากลุ่มย่อย</p></td>
  </tr>
  <tr>
    <td width="156" valign="top"><p align="center">&nbsp;</p></td>
    <td width="512" valign="top"><strong>กลุ่ม ๑    งานบริการด้านการรับรองระบบงานห้องปฏิบัติการและการจัดกิจกรรมทดสอบความชำนาญ</strong><strong> </strong>
      <ul>
      <li>ความสอบกลับได้    (Metrological    Traceability) เพื่อความน่าเชื่อถือของผลการวัด<br />
        โดย ดร.พจมาน ท่าจีน</li>
      <li>การเลือกใช้วัสดุอ้างอิง/วัสดุอ้างอิงรับรองในงานทดสอบ<br />
        โดย  นางดุษฎี มั่นความดี</li>
    </ul>
    <p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="156" valign="top"><p align="center">&nbsp;</p></td>
    <td width="512" valign="top"><strong>กลุ่ม ๒ งานบริการทดสอบ สอบเทียบ</strong><strong> </strong>
      <ul>
      <li>การทดสอบผลิตภัณฑ์ทำความสะอาด<br />
        โดย นางสาวจิรสา กรงกรด และ นางสาวขนิษฐ พานชูวงศ์</li>
      <li>ศักยภาพของ    วศ. ในการเป็นห้องปฏิบัติการอ้างอิงด้านอาหารของอาเซียน สาขา วัสดุสัมผัสอาหาร    และการให้บริการทดสอบวัสดุสัมผัสอาหาร<br />
        โดย นางสุจินต์ พราวพันธ์ นางสาวสุภัตรา เจริญเกษมวิทย์ และ <br />
        ดร.หนึ่งฤทัย  แสแสงสีรุ้ง</li>
      <li>การสำรวจและประเมินคุณภาพผลิตภัณฑ์สำหรับเด็กและเครื่องใช้ในครัวเรือนที่จำหน่ายในประเทศ<br />
        โดย นางสาวดวงกมล เชาวน์ศรีหมุด และ นางสาววรประภา ศรีโยทัย</li>
      <li>ตรวจจุลินทรีย์เองง่ายจังไม่ต้องส่ง    LAB    (ชุดทดสอบจุลินทรีย์ในน้ำและอาหโดย ดร.สุพรรณี  เทพอรุณรัตน์</li>
      <li>การพัฒนาตัวช่วยเพื่อความก้าวหน้าด้านการวัด<br />
        โดย ดร.จิตตกานต์     อินเที่ยง</li>
      <li>การทดสอบด้านวัสดุก่อสร้าง:    สุขภัณฑ์ ปูนซิเมนต์ กระจก กระเบื้อง<br />
        โดย ดร.จรูญ จันทร์สมบูรณ์</li>
      <li>โครงสร้างพื้นฐานด้านคุณภาพ    (Quality    Infrastructure)<br />
        โดย ดร.พจมาน ท่าจีน</li>
    </ul>
    <p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="156" valign="top"><p align="center">&nbsp;</p></td>
    <td width="512" valign="top"><strong>กลุ่ม ๓ งานวิจัยและพัฒนา</strong><strong> </strong>
      <ul>
      <li>สารพัดนวัตกรรมวัสดุไฟเบอร์คอมโพสิทด้วยอนุภาคนาโน:    วศ จะทำอะไร<br />
        โดย ดร.จริยาวดี ศิริจันทรา  </li>
      <li>งานวิจัย    Automation    and Robotics สำคัญกว่าที่คิด<br />
        โดย ดร.ปาษาณ กุลวานิช</li>
      <li>ช่วยชาติด้วยการช่วยใช้ผลิตภัณฑ์ที่ผลิตจากยางธรรมชาติ<br />
        โดย ดร.อรสา อ่อนจันทร์</li>
      <li>งานวิจัยเพื่อลดพลังงานในอุตสาหกรรมแก้ว<br />
        โดย ดร.กนิษฐ์ ตะปะสา</li>
      <li>งานวิจัย    เพื่อ SMEs    ด้วยเทคโนโลยีเซรามิก<br />
        โดย ดร.ศันศนีย์  รักไทยเจริญชีพ</li>
      <li>การผลิตอาหารของไทยให้ก้าวไกลอย่างยั่งยืน<br />
        โดย นายปัญจ์ยศ  มงคลชาติ</li>
      <li>ปริมาณ    PAHs    ในยางรถยนต์กับกฎระเบียบทางการค้าของ EU ที่ควรรู้<br />
        โดย ดร.อนุตตรา นวลถนอม</li>
      <li>เปลี่ยนชีวมวลเป็นน้ำตาลสู่การผลิตเชื้อเพลิงเอทานอล<br />
        โดย ดร.วัชรี คตินนท์กุล</li>
    </ul>
    <p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="156" valign="top"><p align="center">&nbsp;</p></td>
    <td width="512" valign="top"><strong>กลุ่ม ๔ งานด้านการพัฒนาบุคลากรและการบริการสารสนเทศ</strong><strong> </strong>
      <ul>
      <li>การให้บริการฝึกอบรมผ่านเครือข่ายอินเทอร์เน็ต<br />
        โดย นางอารีย์ คชฤทธิ์ และ นางสาวลัดดาวัลย์ เยียดยัด</li>
      <li>การพัฒนากำลังคนด้าน    ว และ ท ด้านสารเคมีและความปลอดภัยสารเคมีในกลุ่มประเทศอาเซียน<br />
        โดย ดร.ณัฏฐกานต์ เกตุคุ้ม และ นางสาวปัทมา นพรัตน์</li>
      <li>การรับรองความสามารถบุคลากรด้านวิทยาศาสตร์และเทคโนโลยี<br />
        โดย นางชุติมา วิไลพันธ์</li>
      <li>S&amp;T    Library Application <br />
        โดย นายนภดล แก้วบรรพต</li>
    </ul>
    <p>&nbsp;</p></td>
  </tr>
</table>

	</div>
	</body>
</html>