<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/mainLayout">

	<head>
	</head>
	<body>
	<div layout:fragment="mainContent">
<h1>กำหนดการ สัมมนา</h1>
<table id="scheduleTable">
	<tr>
		<td>08.30-09.00น.	</td>
		<td colspan="2"> ลงทะเบียน </td>
	</tr>
	<tr>
		<td>09.00-09.15น.</td>
		<td colspan="2">อธิบดีกรมวิทยาศาสตร์บริการ กล่าวรายงาน</td>
	</tr>
	<tr>
		<td></td>
		<td colspan="2">ปลัดกระทรวงวิทยาศาสตร์และเทคโนโลยี เปิดงาน</td>
	</tr>
	<tr>
		<td colspan="3"><br/></td>
	</tr>
	<tr>
		<td>09.15-10.15น.</td>
		<td colspan="2">บรรยายเรื่อง <strong>"ยุทธศาสตร์ของกรมวิทยาศาสตร์บริการกับการส่งเสริมอุตสาหกรรมไทย"</strong></td>
	</tr>
	<tr>
		<td></td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;นายเกษม พิฤทธิ์บูรณะ</td>
		<td>อธิบดีกรมวิทยาศาสตร์บริการ</td>
	</tr>
	<tr>
		<td></td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;ดร.สุทธิเวช  ต.แสงจันทร์</td>
		<td>รองอธิบดีกรมวิทยาศาสตร์บริการ</td>
	</tr>
	<tr>
		<td colspan="3"><br/></td>
	</tr>
	<tr>
		<td>10.30-12.00น.</td>
		<td colspan="2">การอภิปรายเรื่อง <strong>"3S บริการทดสอบใหม่ของกรมวิทยาศาสตร์บริการ"</strong></td>
	</tr>
	<tr>
		<td></td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;ดร.มาณพ  สิทธิเดช</td>
		<td>นักวิทยาศาสตร์ชำนาญการพิเศษ วศ.</td>
	</tr>
	<tr>
		<td></td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;ดร.เทพวิทูรย์  ทองศรี</td>
		<td>นักวิทยาศาสตร์ชำนาญการพิเศษ วศ.</td>
	</tr>
	<tr>
		<td></td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;นางสุมาลี  ทั่งพิทยกุล</td>
		<td>ผู้อำนวยการโครงการวิทยาศาสตร์ชีวภาพ วศ.</td>
	</tr>
	<tr>
		<td></td>
		<td colspan="2">ดำเนินรายการโดย</td>
	</tr>
	<tr>
		<td></td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;ดร.ปาษาณ  กุลวานิช</td>
		<td>นักวิทยาศาสตร์ชำนาญการ วศ.</td>
	</tr>
	<tr>
		<td colspan="3"><br/></td>
	</tr>
	<tr>
		<td>12.00-13.30น.</td>
		<td colspan="2">พักรับประทางอาหารกลางวัน</td>
	</tr>
	<tr>
		<td></td>
		<td colspan="2">เยี่ยมชมโปสเตอร์ผลงานวิจัยและงานบริการ กรมวิทยาศาสตร์บริการ</td>
	</tr>
	<tr>
		<td colspan="3"><br/></td>
	</tr>
	<tr>
		<td>13.30-15.30น.</td>
		<td colspan="2">การอภิปราย <strong>"กฎ ระเบียบ ผลกระทบ และมาตการกีดกันทางการค้า NTB (Non Tariff Barrier) ต่อการส่งออกของไทย"</strong></td>
	</tr>
	<tr>
		<td></td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;นายวิฑูรย์  สิมะโชคดี</td>
		<td>ปลัดกระทรวงอุตสาหกรรม</td>
	</tr>
	<tr>
		<td></td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;นายมนัส  สร้อยพลอย</td>
		<td>อธิบดีกรมการค้าต่างประเทศ</td>
	</tr>
	<tr>
		<td></td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;นายไพบูลย์ พลสุวรรณา</td>
		<td>ประธานสภาผู้ส่งสินค้าทางเรือแห่งประเทศไทย</td>
	</tr>
	<tr>
		<td></td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;น.ส.เมทนี สุคนธรักษ์</td>
		<td>ที่ปรึกษาสำนักงานมาตรฐานสินค้าเกษตรและอาหารแห่งชาติ</td>
	</tr>
	<tr>
		<td></td>
		<td colspan="2">ดำเนินรายการโดย</td>
	</tr>
	<tr>
		<td></td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;นายพายับ  นามประเสริฐ</td>
		<td>รักษาการ รองอธิบดีกรมวิทยาศาสตร์บริการ</td>
	</tr>
	<tr>
		<td colspan="3"><br/></td>
	</tr>
	<tr>
		<td>15.30-16.30น.</td>
		<td colspan="2">มอบรางวัล บุคลากรดีเด่นของกรมวิทยาศาสตร์บริการ</td>
	</tr>
	<tr>
		<td colspan="3"><br/></td>
	</tr>
	<tr>
		<td colspan="3">หมายเหตุ: รับประทานอาหารว่างระหว่างเวลา 10.15-10.30น. และ 14.30-14.45น.</td>
	</tr>
	<tr>
		<td colspan="3"><br/></td>
	</tr>

</table>

	</div>
	</body>
</html>