<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/mainLayout">

	<head>
	</head>
	<body>
	<div layout:fragment="mainContent">
		<h1>สถานที่จัดงานสัมมนา</h1>
		โรงแรมวินเซอร์ สวีท แอนด์ คอนเวนชั่น
		
		<h2>แผนที่โรงแรม</h2>
		<img src="/images/asiabangkok_map_crop.jpg" th:src="@{/images/asiabangkok_map_crop.jpg}"/>
		
<br/><br/>
<p>		
เดินทางด้วยรถประจำทาง : 
สาย XXXXX
<br/>
เดินทางด้วยรถไฟฟ้า :
ลงสถานี XXX
</p>

	</div>
	</body>
</html>