<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/mainLayout">

	<head>
	</head>
	<body>
	<div layout:fragment="mainContent">
		<h1>สถานที่จัดงานสัมมนา</h1>
		โรงแรมวินเซอร์ สวีท แอนด์ คอนเวนชั่น ชั้น ๑๑ กรุงเทพฯ
		
		<h2>แผนที่โรงแรม</h2>
		<img src="/images/windsor.jpg" th:src="@{/images/windsor.jpg}"/>
		
<br/>
ที่อยู่ : 8-10 ซ.สุขุมวิท 20 แขวงคลองเตย เขตคลองเตย, สุขุมวิท, กรุงเทพ, 10110
<br/><br/>
T +66 2 262 1234
<br/>
F +66 2 262 1329
<br/>
info@windsorsuiteshotel.com
<br/>
www.windsorsuiteshotel.com
<br/><br/>
เดินทางด้วยรถประจำทาง : สาย   ปอ40, 2, 25, 38, 98, 501, 508
<br/><br/>
เดินทางด้วยรถไฟฟ้า BTS : ลงที่สถานีอโศก
<br/><br/>
เดินทางด้วยรถไฟฟ้าใต้ดิน MRT : ลงที่สถานีสุขุมวิท



	</div>
	</body>
</html>